body{
    overflow-x: hidden;
}


#top-bar{
    background-color: rgb(49, 2, 2);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

#location{
    display: flex;
    flex-direction: row;
    color: white;
    column-gap: 10px;
}

#top-bar-left{
    padding-left: 20px;
}

#socials{
    display: flex;
    padding-right: 20px;
    column-gap: 25px;
    color: white;
}
#socials a{
    color: white;
}

#nav-bar {
    background-color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-links a{
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
}

#nav-links span:hover {
    color: #c50505;
}

#nav-bar-right{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-right: 30px;
}
#btn{
    font-size: 15px;
    width: 200px;
    color: #c50505;
    border: solid 1px #c50505;
    /* border: 40px;
    background-color: #c50505; */
}

#btn:hover{
    color: white;
    background-color: red;
}

#phone-number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
#digits{
    color: rgb(197, 5, 5);
    text-decoration: none;
}

#nav-bar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
    padding-left: 20px;
}

#nav-logo img {
    height: 80px;
}

#nav-links{
    display: flex;
    font-size: 25px;
    column-gap: 20px;
    color: black;
}

#hero{
    background-image: url(../assets/images/pic5.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #hero-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#hero-tins{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 3%;
    right: 10%;
    row-gap: 7px;
}

#hero-text{
    color: white;
    font-size: 30px;
}

#options{
    color: white;
    background-color: red;
    font-size: 30px;
    height: 60px;
}

#options:hover{
    background-color: orangered;
}

#big-why{
    /* display: flex; */
    height: 900px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}

#why-image img {
    height: 650px;
    border-top-left-radius: 80px;
}

#small-box-text{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0px red;
    background-color: #c50505;
    color: white;
    height: 120px;
    width: 180px;
}