body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


#top-bar {
    background-color: rgb(0, 0, 0);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

#location {
    display: flex;
    flex-direction: row;
    color: white;
    column-gap: 10px;
}

#top-bar-left {
    padding-left: 20px;
}

#socials {
    display: flex;
    padding-right: 20px;
    column-gap: 25px;
    color: white;
}

#socials a {
    color: white;
}

#nav-bar {
    background-color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#nav-links a {
    text-decoration: none;
    color: #c50505;
    font-family: Arial, sans-serif;
    /* font-weight: 150; */
    font-size: 12pt;
}

#nav-links span:hover {
    color: black;
}

#nav-bar-right {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-right: 30px;
}

#btn {
    font-size: 15px;
    width: 200px;
    height: 50px;
    color: #4A3426;
    /* border: solid 1px #c50505; */
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #c50505;
    -webkit-transition: ease-out 0.6s;
}

#btn:hover {
    color: white;
    box-shadow: inset 400px 0 0 0 #c50505;
}

#call-us {
    font-size: 20px;
}

#phone-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#digits {
    color: rgb(197, 5, 5);
    text-decoration: none;
    font-size: 20px;
}

#nav-bar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
    padding-left: 20px;
}

#nav-logo img {
    height: 80px;
}

#nav-links {
    display: flex;
    font-size: 25px;
    column-gap: 20px;
    color: black;
}

#hero {
    background-image: url(../assets/images/pic5.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #hero-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#hero-tins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* row-gap: 7px; */
}

#hero-text {
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position: relative; */
    /* opacity: 10;
    transform: translateX(-100%);
    transition: all 1.5s ease-in-out; */
}

/* #hero-text.active{
    opacity: 1;
    transform: translateX(20%)
} */

#options {
    color: white;
    background-color: #c50505;
    font-size: 14px;
    font-family: 'Baskervville' sans-serif;
    height: 50px;
    width: 150px;
    border: none;
    box-shadow: inset 0 0 0 0 orangered;
    -webkit-transition: ease-out 0.6s;
}

#options:hover {
    /* background-color: orangered; */
    box-shadow: inset 400px 0 0 0 orangered;
}

#big-why {
    /* display: flex; */
    height: 900px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    /* width: 90vw; */
}

#why-image img {
    height: 650px;
    /* width: 450px; */
    border-top-left-radius: 80px;

}

#box-number {
    color: white;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-text {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
}

#why-image-box {
    background-color: #B40000;
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: -3%;
    right: -10%;
}

#big-why-left {
    position: relative;
}

#big-why-right {
    margin: 0px 0px 100px;
}

#h2 {
    font-family: "Baskervville", serif;
    font-size: 50px;
    font-weight: lighter;
    top: 3px;
}

#quote {
    font-family: "Baskervville", serif;
    font-size: 25px;
    font-weight: lighter;
    margin: 0px 0px 8px;
}

#third-p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.8;
    margin: 0px 0px 40px;
    font-weight: lighter;
    color: #6B5A5A;
}

#ceo {
    font-family: "Roboto", sans-serif;
    color: #6B5A5A;
    font-size: 14px;
}

#name {
    font-family: "Baskervville", serif;
    font-size: 20px;
}

#sneaker-pool {
    height: 1000px;
    background-color: #2e2c2c;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#sec-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: white;
}

#columns {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
}

.brand {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.brand:hover {
    color: #B40000;
}

#column-one {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#column-one-a {
    background-color: #FFFFFF;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

#nike {
    width: 170px;
    height: 170px;
    border-radius: 90px;
    overflow: hidden;
    border: 2px solid red;
}

#nike img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#column-one-b {
    background-color: #FFFFFF;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

#column-two {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#column-two-a {
    background-color: #FFFFFF;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

#column-two-b {
    background-color: #FFFFFF;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

#column-annex {
    background-color: #B40000;
    height: 650px;
    width: 350px;
    border-top-right-radius: 100px;
}

#section-4 {
    height: 570px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#choose-us {
    font-size: 30px;
}

#choose-us-text {
    font-size: 20px;
}

#learn-more {
    height: 63px;
    width: 140px;
    background-color: #B40000;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: none;
}

#learn-more:hover {
    background-color: orangered;
}

#sec-line {
    height: 2px;
    width: 100%;
    background-color: #a19696;
    /* transform: translateY(90degree); */
}

#partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;

}

.i-cons {
    height: 80px;
    justify-content: center;
    align-items: center;
}

#sec-line-down {
    height: 2px;
    width: 100%;
    background-color: #a19696;
}