body{
    overflow-x: hidden;
}


#top-bar{
    background-color: rgb(49, 2, 2);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

#location{
    display: flex;
    flex-direction: row;
    color: white;
    column-gap: 10px;
}

#top-bar-left{
    padding-left: 20px;
}

#socials{
    display: flex;
    padding-right: 20px;
    column-gap: 25px;
    color: white;
}
#socials a{
    color: white;
}

#nav-bar {
    background-color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#nav-links a{
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
}

#nav-links span:hover {
    color: #c50505;
}

#nav-bar-right{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-right: 30px;
}
#btn{
    font-size: 15px;
    width: 200px;
    color: #c50505;
    border: solid 1px #c50505;
    /* border: 40px;
    background-color: #c50505; */
}

#btn:hover{
    color: white;
    background-color: red;
}

#phone-number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
#digits{
    color: rgb(197, 5, 5);
    text-decoration: none;
}

#nav-bar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
    padding-left: 20px;
}

#nav-logo img {
    height: 80px;
}

#nav-links{
    display: flex;
    font-size: 25px;
    column-gap: 20px;
    color: black;
}

#hero{
    background-image: url(../assets/images/pic5.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #hero-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#hero-tins{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 3%;
    right: 10%;
    row-gap: 7px;
}

#hero-text{
    color: white;
    font-size: 30px;
}

#options{
    color: white;
    background-color: red;
    font-size: 30px;
    height: 60px;
}

#options:hover{
    background-color: orangered;
}

#big-why{
    /* display: flex; */
    height: 900px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 90px;
    /* width: 90vw; */
}

#why-image img {
    height: 650px;
    /* width: 450px; */
    border-top-left-radius: 80px;

}

#box-number{
    color: white;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-text{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
}

#why-image-box{
    background-color: #B40000;
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: -3%;
    right: -10%;
}

#big-why-left{
    position: relative;
}

#big-why-right{
    position: relative;
}

#h2{
    font-family: "Baskervville", serif;
    font-size: 50px;
    font-weight: lighter;
    top: 3px;
}
#quote{
    font-family: "Baskervville", serif;
    font-size: 25px;
    font-weight: lighter;
    margin: 0px 0px 8px;
}
#third-p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin: 0px 0px 40px;
    font-weight: lighter;
    color: #6B5A5A;
}

#ceo{
  font-family: "Roboto", sans-serif;
  color: #6B5A5A;  
  font-size: 14px;
}

#name{
    font-family: "Baskervville", serif;
    font-size: 20px;
}

#sneaker-pool{
    height: 1000px;
    background-color: #F8F4F4;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#sec-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Baskervville", serif;
    font-size: 30px;
    font-weight: lighter;
}

#columns{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
}

#column-one{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#column-one-a{
    background-color: #FFFFFF;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nike{
    width: 170px;
    height: 170px;
    border-radius: 80px;
    overflow: hidden;
    border: 5px solid red;
}

#nike img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#column-one-b{
    background-color: #FFFFFF;
    height: 350px;
    width: 350px;
}

#column-two{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#column-two-a{
    background-color: #FFFFFF;
    height: 350px;
    width: 350px;
}

#column-two-b{
    background-color: #FFFFFF;
    height: 350px;
    width: 350px;
}

#column-annex{
    background-color: #B40000;
    height: 650px;
    width: 350px;
    border-top-right-radius: 100px;
}





